<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    {% block head %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css')}}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('css/html_responsive.css')}}" />
    <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700,500,900' rel='stylesheet' type='text/css'>
    {% block stylesheets %}{% endblock %}
    <script src="{{ asset('js/lib/jquery2.1.1_min.js')}}"></script>
    <script src="{{ asset('js/lib/jquery-validate.min.js')}}"></script>
    <script src="{{ asset('js/documentready.js')}}"></script>
    {% block scripts %}{% endblock %}
  </head>
  <body>
    <div id="background_all">
    </div>
    {% block menu %}{% endblock %}
    <header>
      <a href="{{ path('portfolio_portfolio_homepage') }}"><h1>Anaïs Hervouin</h1>
        <span>
          Analyste et Développeuse WEB en technologie PHP
        </span>
      </a>
    </header>
    <div id="main-content">
      {% block body %}{% endblock %}
    </div>
    {% block footer %}{% endblock %}
    {% block javascripts %}{% endblock %}
  </body>
</html>