<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="initial-scale=1, maximum-scale=1">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />        
        <link rel="stylesheet" type="text/css" href="{{ asset('css/common.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/html_responsive.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/footer-icons.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/menu_responsive_structure.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{ asset('css/menu_css_responsive.css')}}" />
        <link href='http://fonts.googleapis.com/css?family=Orbitron:400,700,500,900' rel='stylesheet' type='text/css'>
		<script src="{{ asset('js/modernizr.custom.js')}}"></script>
    </head>
    <body>
    <header>
      <a href="#"></a>
    </header>
    <div class="container">
    <!-- Push Wrapper -->
	  <div class="mp-pusher" id="mp-pusher">
		<!-- mp-menu -->
		<nav id="mp-menu" class="mp-menu">
		  <div class="mp-level">
			<h2 class="icon icon-world">Menu principal</h2>
		    	<ul>						
					<li class="main-level"><a class="icon icon-photo" href="#">Accueil</a></li>
					<li class="icon icon-arrow-left main-level">
						<a class="icon icon-display" href="#">Présentation</a>
			    			<div class="mp-level level-down">
								<h2 class="icon icon-display">Présentation</h2>
									<a class="mp-back" href="#">Retour</a>
									<ul>
										<li>
											<a class="icon icon-phone" href="#">Histoire</a>											
										</li>
										<li>
											<a class="icon icon-tv" href="#">Expériences</a>											
										</li>
										<li>
											<a class="icon icon-camera" href="#">Compétences</a>											
										</li>
									</ul>
							</div>
					</li>
					<li class="icon icon-arrow-left main-level">
						<a class="icon icon-news" href="#">Projets</a>
						<div class="mp-level level-down">
							<h2 class="icon icon-news">Projets</h2>
							<a class="mp-back" href="#">Retour</a>
							<ul>
								<li><a href="#">Projets réalisés</a></li>
								<li><a href="#">Projets envisagés</a></li>
							</ul>
						</div>
					</li>
					<li class="icon icon-arrow-left main-level">
						<a class="icon icon-shop" href="#">Réseaux</a>
						<div class="mp-level level-down">
							<h2 class="icon icon-shop">Réseaux</h2>
							<a class="mp-back" href="#">Retour</a>
                                <ul>
					    			<li>
						    			<a class="icon icon-phone" href="#">Linkdlin</a>											
									</li>
									<li>
										<a class="icon icon-tv" href="#">Viadéo</a>											
									</li>
									<li>
										<a class="icon icon-camera" href="#">Twitter</a>											
									</li>
									<li>
										<a class="icon icon-camera" href="#">Facebook</a>											
									</li>
								</ul>
						</div>
					</li>
					<li  class="main-level"><a class="icon icon-photo" href="#">CV</a></li>
				</ul>							
			</div>
		</nav>
		<div class="scroller"><!-- this is for emulating position fixed of the nav -->
          <div class="scroller-inner">
            <div id="main-content">
              <div id="access-menu"><a href="#" id="trigger" class="menu-trigger"><span>Accès Menu</span></a></div>
              {% block body %}{% endblock %}
            </div>
            {% block javascripts %}{% endblock %}
            <footer>
              <div id="footer-content">
                <div id="a-propos">
                  <h3>A propos</h3>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                  Nunc feugiat elementum nulla, sit amet ullamcorper ipsum dictum sit amet.
                  Phasellus purus arcu, fermentum vel lacinia vitae, varius sagittis leo. </p>
               </div>
               <div id="reseaux-sociaux" class="hi-icon-wrap hi-icon-effect-8">
                 <h3>Coins réseaux</h3>
		         <a href="#" class="hi-icon hi-icon-facebook">Facebook</a>
		         <a href="#" class="hi-icon hi-icon-twitter">Twitter</a>
		         <a href="#" class="hi-icon hi-icon-viadeo">Viadéo</a>
		         <a href="#" class="hi-icon hi-icon-linkedin">Linkdlin</a>
	          </div>
	          <div id="formulaire-contact">
	            <h3>Formulaire de contact</h3>
	            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                Nunc feugiat elementum nulla, sit amet ullamcorper ipsum dictum sit amet.
                Phasellus purus arcu, fermentum vel lacinia vitae, varius sagittis leo. </p>
	         </div>
	       </div>
         </footer>
       </div>
     </div>
   </div><!-- /pusher -->
 </div>
 <script src="{{ asset('js/classie.js')}}"></script>
 <script src="{{ asset('js/mlpushmenu.js')}}"></script>
 <script>
  new mlPushMenu( document.getElementById( 'mp-menu' ), document.getElementById( 'trigger' ) );
 </script>
</body>
</html>