{# src/Portfolio/PortfolioBundle/Resources/views/Pages/gmap.html.twig #}

{% extends 'PortfolioPortfolioBundle::layout.html.twig' %}

{% block title %}Gmap | Anais Hervouin Portfolio{% endblock %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{{ asset('css/footer-icons.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('css/menu_responsive_structure.css')}}" />
  <link rel="stylesheet" type="text/css" href="{{ asset('css/gmap.css')}}" />
{% endblock %}
{% block scripts %}
  <script src="{{ asset('js/lib/modernizr.custom.js')}}"></script>
  <script src="{{ asset('js/lib/smooth-scroll.js')}}"></script>
  <script src="http://maps.googleapis.com/maps/api/js?sensor=false&amp;libraries=places"></script>
  <script src="{{ asset('js/lib/jquery.geocomplete.min.js')}}"></script>
  <script src="{{ asset('js/lib/gmaps.js')}}"></script>
  <script>
    jQuery(document).ready( function () {
        map_datas('{{ json }}');
    });
  </script>
{% endblock %}

{% block content %}
<div id="col_gauche">
  <div id="form_search">
    <h3>Rechercher un pokémon</h3>
      <form id="search-form" action="{{ path ('portfolio_portfolio_gmap') }}" method="post" {{ form_enctype(search) }}>
        {{ form_errors(search) }}
        {{ form_widget(search) }}
        {{ form_row(search.search) }}
        {{ form_rest(search) }}
        <input type="submit" value="Rechercher"/>
      </form>
  </div>
  <div id="list_res"></div>
</div>
<div id="basic_map">
</div>
{% endblock %}
